<!-- #layout name=vue -->
<div class="page-header">
    <h1 class="title">Scripts</h1>
</div>
<div id="vue-container">
    <kb-breadcrumb>
        <kb-breadcrumb-item item='SITES'></kb-breadcrumb-item>
        <kb-breadcrumb-item item='DASHBOARD'></kb-breadcrumb-item>
        <kb-breadcrumb-item item='SCIRPTS' :active='true'></kb-breadcrumb-item>
    </kb-breadcrumb>
</div>
<script>
    Kooboo.loadJS([
        "/_Admin/Scripts/vue/components/kbBreadcrumb/index.js",
    ])

    var scriptsVM = new Vue({
        el: '#vue-container',
        data: {

        },
        components: {
            'kb-breadcrumb': Kooboo.vue.component.kbBreadcrumb,
            'kb-breadcrumb-item': Kooboo.vue.component.kbBreadcrumbItem,
        }
    })
</script>