<div class="form" :class="layout">
  <template v-if="meta">
    <kb-form-item
      v-for="(item, idx) in meta.items"
      :key="idx"
      :idx="idx"
      :ctx="ctx"
      :data="item.data"
      :name="item.name"
      :rules="item.rules"
      :label="item.label"
      :options="item.options"
      :tooltip="item.tooltip"
      :controlType="item.type"
      :externalClass="item.class"
      :placeholder="item.placeholder"
      :horizontal="meta.layout=='horizontal'"
      @fieldValue="valueChange"
    ></kb-form-item>
  </template>
</div>
