<!-- #layout name=vue -->
<div class="page-header">
  <h1 class="title">Forms</h1>
</div>
<div id="app">
  <kb-tab ref="tab" :meta="meta"></kb-tab>
  <kb-popup ref="popup" :meta="{}"></kb-popup>
</div>

<script src="/_Admin/Scripts/vue/api.js"></script>
<script src="/_Admin/Scripts/vue/validation/vuelidate.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validators.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validateExtend.js"></script>
<script src="/_Admin/Scripts/vue/mixin/mixins.js"></script>
<script src="/_Admin/Scripts/vue/components/kbTable.js"></script>
<script src="/_Admin/Scripts/vue/components/kbTab.js"></script>
<script>
  Kooboo.loadJS(["/_Admin/Scripts/vue/components/kbPopup/index.js"]);
  var meta = api.tabMeta("form");
  new Vue({
    el: "#app",
    data: {
      meta:meta
    },
    components: {
      "kb-popup": Kooboo.vue.component.kbPopup
    },


  })
</script>