<!-- #layout name=vue -->
<div class="page-header">
    <h1 class="title">Pages</h1>
  </div>
  <div id="app">
    <kb-table :meta="meta" list-name="pages" :data="data"></kb-table>
    <kb-popup ref="popup" :meta="popup"></kb-popup>
  </div>

  <script src="/_Admin/Scripts/vue/api.js"></script>
  <script src="/_Admin/Scripts/vue/validation/vuelidate.min.js"></script>
  <script src="/_Admin/Scripts/vue/validation/validators.min.js"></script>
  <script src="/_Admin/Scripts/vue/validation/validateExtend.js"></script>
  <script src="/_Admin/Scripts/vue/mixin/mixins.js"></script>
  <script src="/_Admin/Scripts/vue/components/kbTable.js"></script>
  <script>
  Kooboo.loadJS(["/_Admin/Scripts/vue/components/kbPopup/index.js"]);
  var data=api.getList("PageSample");
 
  new Vue({
    el:"#app",
    data:data,
    components: {
      "kb-popup": Kooboo.vue.component.kbPopup
    }
  })
  </script>