<!-- #layout name=vue -->

<div class="page-header">
  <h1 class="title">KB FORM</h1>
</div>

<div class="col-md-8 col-md-offset-2">
  <div id="app-vue">
    <button class="btn btn-primary" @click="onShow">show</button>

    <kb-modal
      :show="showModal"
      :config="{title:'hello',
      showCloseBtn:true,
      closeBtnText:'取消',
      btns:[{
      class:'btn-primary',
      text:'保存',
      onClick:function(){}
    }]}"
    @close='showModal = false'
    >
      <div slot="body">
        <kb-form :meta="formData"></kb-form>
      </div>
    </kb-modal>
  </div>
</div>

<script>
  Kooboo.loadJS([
    "/_Admin/Scripts/vue/components/kbModal/index.js",
    "/_Admin/Scripts/vue/components/kbForm/index.js"
  ]);

  var vm = new Vue({
    el: "#app-vue",
    methods: {
      onShow() {
        this.showModal = true;
      }
    },
    data: {
      showModal: false,
      formData: {
        layout: "horizontal",
        items: [
          {
            type: "textbox",
            label: "textbox",
            name: "tb",
            value: "init value",
            placeholder: "input here",
            class: "input-small",
            tooltip: ""
          },
          {
            type: "textarea",
            label: "textarea",
            name: "path",
            value: "",
            placeholder: "input here",
            class: "",
            tooltip: "Textarea tooltip"
          },
          {
            type: "checkbox",
            label: "checkbox",
            name: "path",
            value: '["a"]',
            placeholder: "input here",
            tooltip: "",
            options: [
              {
                displayName: "A",
                value: "a"
              },
              {
                displayName: "B",
                value: "b"
              },
              {
                displayName: "C",
                value: "c"
              }
            ]
          },
          {
            type: "number",
            label: "number",
            name: "path",
            value: "",
            placeholder: "input here",
            class: "input-small",
            tooltip: ""
          },
          {
            type: "radiobox",
            label: "radiobox",
            name: "path",
            value: "b",
            placeholder: "input here",
            tooltip: "hello Radio tooltip",
            options: [
              {
                displayName: "A",
                value: "a"
              },
              {
                displayName: "B",
                value: "b"
              },
              {
                displayName: "C",
                value: "c"
              }
            ]
          },
          {
            type: "selection",
            label: "selection",
            name: "path",
            value: "a",
            placeholder: "input here",
            class: "input-small",
            tooltip: "",
            options: [
              {
                displayName: "A",
                value: "a"
              },
              {
                displayName: "B",
                value: "b"
              },
              {
                displayName: "C",
                value: "c"
              }
            ]
          },
          {
            type: "datetime",
            label: "datetime",
            name: "path",
            value: "",
            placeholder: "input here",
            class: "input-medium",
            tooltip: ""
          }
        ]
      }
    },
    components: {
      "kb-form": Kooboo.vue.component.kbForm,
      "kb-modal": Kooboo.vue.component.kbModal
    }
  });
</script>
