<!-- #layout name=vue -->
<div class="page-header">
  <h1 class="title">Pages</h1>
</div>
<div id="app">
  <kb-table :meta="page" list-name="pages" :data="pagedata"></kb-table>
  <kb-popup ref="popup" :meta="popup"></kb-popup>
</div>
<!-- <script>
  Kooboo.vue = {
    component: {}
  };
</script> -->
<script src="/_Admin/Scripts/vue/api.js"></script>
<script src="/_Admin/Scripts/vue/validation/vuelidate.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validators.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validateExtend.js"></script>
<script src="/_Admin/Scripts/vue/components/kbTable.js"></script>
<script>
  window.fieldValidateMixin = Object.assign(window.vuelidate.validationMixin, {
    validations() {
      return {
        fieldValue: {
          rules: validators.rules(this.rules)
        }
      };
    }
  });

  Kooboo.loadJS(["/_Admin/Scripts/vue/components/kbPopup/index.js"]);

  new Vue({
    el: "#app",
    data: {
      page: {
        listName: "page",
        dataApi: "/page/all",
        menu: [
          {
            type: "button",
            text: "New page",
            class: "green",
            action: "redirect",
            url: "/_Admin/Page/EditPage"
          },
          {
            type: "button",
            text: "New rich text page",
            class: "green",
            action: "redirect",
            url: "/_Admin/Page/EditRichText"
          },
          {
            type: "dropdown",
            text: "New layout page",
            class: "green",
            action: "redriect",
            url: "/_Admin/Page/EditLayout?layoutId={id}",
            options: {
              data: "layouts",
              text: "name"
            }
          },
          {
            type: "button",
            text: "Import",
            class: "green",
            action: "popup",
            url: "popup?modelName=importPopup"
          },
          {
            type: "button",
            text: "Copy",
            class: "green",
            action: "popup",
            url: "popup?modelName=copyPopup",
            visible: {
              compare: "=",
              value: 1
            }
          },
          {
            type: "button",
            text: "Delete",
            class: "red",
            action: "post",
            confirm: "confirm.deleteItemsWithRef",
            url: "page/delete",
            visible: {
              compare: ">=",
              value: 1
            }
          },
          {
            type: "icon",
            align: "right",
            iconClass: "gear",
            action: "popup",
            url: "popup?modelName=routeSetting"
          }
        ],
        table: {
          columns: [
            {
              name: "name",
              header: {
                text: "Name"
              }
            },
            {
              name: "linked",
              header: {
                text: "Linked"
              },
              cell: {
                type: "badge"
              }
            },
            {
              name: "online",
              header: {
                text: "Online"
              },
              cell: {
                type: "label",
                class: [
                  {
                    true: "green",
                    false: "blue"
                  }
                ],
                text: {
                  true: "{online.yes}",
                  false: "{online.no}"
                }
              }
            },
            {
              name: "relations",
              header: {
                text: "Relations"
              },
              cell: {
                type: "array",
                text: "{0} {key}",
                action: "popup",
                url: "popup?modelName=relationPopup&id={id}&by={key}&type=page"
              }
            },
            {
              name: "lastModified",
              header: {
                text: "Last modified"
              },
              cell: {
                type: "date"
              }
            },
            {
              name: "previewUrl",
              header: {
                text: "Preview"
              },
              cell: {
                type: "link",
                action: "newWindow"
              }
            },
            {
              name: "setting",
              cell: {
                type: "button",
                class: "blue",
                innerText: "Setting",
                action: "redirect",
                url: "/page/details?id={id}&layoutId={layoutId}"
              }
            },
            {
              name: "inlineUrl",
              cell: {
                type: "button",
                class: "btn-primary hidden-xs",
                innerText: "Inline edit",
                action: "newWindow"
              }
            },
            {
              name: "qrCode",
              cell: {
                type: "icon",
                class: "btn-xs",
                iconClass: "qrcode",
                action: "event",
                url: "showQrcode"
              }
            }
          ]
        }
      },
      pagedata: {
        baseUrl: "http://asdf.kooboo/",
        layouts: [],
        pages: [
          {
            id: "3104f1e5-7d0e-4d37-9124-c67c7ae10e4b",
            name: "aass",
            title: null,
            warning: 0,
            linked: 0,
            pageView: 0,
            layoutId: "00000000-0000-0000-0000-000000000000",
            online: true,
            lastModified: "2019-04-28T09:53:23.862451Z",
            path: "/aass",
            previewUrl: "http://asdf.kooboo/aass",
            inlineUrl:
              "/_api/redirect/inline?siteid=b88fea9f-2f3a-51a7-f38c-bf827c38918d&pageid=3104f1e5-7d0e-4d37-9124-c67c7ae10e4b",
            startPage: false,
            relations: {},
            type: "Normal"
          }
        ]
      },
      popup: {
        title: "Route setting",
        description: {
          title: "Redirect routes",
          content:
            "Set the redirect pages for default home page, 404 and error pages",
          closable: true,
          class: "alert alert-info alert-dismissable"
        },
        buttons: [
          {
            class: "green",
            text: "save",
            type: "submit"
          },
          {
            class: "gray",
            text: "cancel",
            type: "close"
          }
        ],
        views: [
          {
            type: "form",
            metaName: "routeFormMeta"
          }
        ]
      }
    },
    components: {
      "kb-popup": Kooboo.vue.component.kbPopup
    }
  });
</script>
