<!-- #layout name=blank -->
<div class="page-header">
  <h1 class="title">Pages</h1>
</div>
<div id="app" kv-el>
  <kb-table kv-meta="Page" list-name="pages"></kb-table>
  <popup kv-ref="popup"></popup>
</div>
<script src="/_Admin/Scripts/vue/vue.js"></script>
<script src="/_Admin/Scripts/vue/VueExtend.js"></script>
<script src="/_Admin/Scripts/vue/api.js"></script>
<script src="/_Admin/Scripts/vue/validation/vuelidate.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validators.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validateExtend.js"></script>
<script src="/_Admin/Scripts/vue/components/kbTable.js"></script>
