<!-- #layout name=vue-->
<div id="test">
    <kb-table :docs='docs' :columns='columns' :actions='actions'></kb-table>
</div>
<script src="/_Admin/Scripts/vue/vue.js"></script>
<script src="/_Admin/Scripts/vue/components/kbTable/index.js"></script>
<script>
    var test = new Vue({
        el: '#test',
        data: {
            docs: [{
                id: 1,
                name: 'test',
                icon: {
                    class: 'fa-home',
                    title: 'Home'
                },
                relations: [{
                    text: '1 view',
                    class: 'label label-sm kb-table-label-refer',
                    style: 'background-color: ' + Kooboo.getLabelColor('view'),
                    data: {
                        type: 'view'
                    },
                    onClick: function(rel) {
                        console.log(rel.data.type)
                    }
                }, {
                    text: '4 layout',
                    class: 'label label-sm kb-table-label-refer',
                    style: 'background-color: ' + Kooboo.getLabelColor('layout'),
                    data: {
                        type: 'layout'
                    },
                    onClick: function(rel) {
                        console.log(rel.data.type)
                    }
                }],
                badge: {
                    text: 323,
                    class: 'green',
                    url: '#testlink',
                },
                label: {
                    text: 'hello',
                    class: 'green',
                    onClick: function(doc) {
                        test.onLabelClick(doc);
                    }
                },
                link: {
                    text: 'event link',
                    onClick: function(doc) {
                        test.onLinkClick(doc);
                    }
                },
                summary: {
                    title: 'hello',
                    description: 'VGO',
                    url: '#test-summary'
                },
                action: {
                    size: 'xs',
                    class: 'btn-xs blue',
                    icon: 'fa-pencil',
                    onClick: function(doc) {
                        test.onActionClick(doc);
                    }
                }
            }, {
                id: 2,
                name: 'test2',
                badge: {
                    text: 3,
                    class: 'blue',
                    onClick: function(doc) {
                        test.onBadgeClick(doc);
                    }
                },
                label: {
                    text: 'hello',
                    class: 'blue',
                    url: '#labelTest',
                },
                link: {
                    text: 'hello',
                    title: 'test',
                    url: '#testLink'
                },
                iconText: {
                    icon: 'fa-home',
                    text: 'icon text',
                    title: 'nothing new here'
                },
                summary: {
                    title: 'hello',
                    description: 'VGO',
                    onClick: function(doc) {
                        test.onSummaryClick(doc);
                    }
                },
                action: {
                    text: 'hello',
                    class: 'btn-xs blue',
                    onClick: function(doc) {
                        test.onActionClick(doc);
                    }
                }
            }],
            columns: [{
                fieldName: 'icon',
                displayName: '',
                type: 'icon'
            }, {
                fieldName: 'summary',
                displayName: 'Summary',
                type: 'summary'
            }, {
                fieldName: 'name',
                displayName: 'Name',
                type: 'text'
            }, {
                fieldName: 'relations',
                displayName: 'Relations',
                type: 'array'
            }, {
                fieldName: 'badge',
                displayName: 'Badge',
                type: 'badge'
            }, {
                fieldName: 'label',
                displayName: 'Label',
                type: 'label'
            }, {
                fieldName: 'link',
                displayName: 'Link',
                type: 'link'
            }, {
                fieldName: 'iconText',
                displayName: 'Icon text',
                type: 'icon-text'
            }],
            actions: [{
                fieldName: 'action',
                class: 'text-right',
                type: 'button'
            }]
        },
        methods: {
            onBadgeClick: function(doc) {
                console.log(doc.id, doc.badge)
            },
            onLabelClick: function(doc) {
                console.log(doc.id, doc.label);
            },
            onLinkClick: function(doc) {
                console.log(doc.id, doc.link);
            },
            onActionClick: function(doc) {
                console.log(doc.id, doc.action);
            },
            onSummaryClick: function(doc) {
                console.log(doc);
            }
        },
        components: {
            'kb-table': Kooboo.vue.component.kbTable
        }
    })
</script>